html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom, #050505, #111111, #1a0d0d);
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* ===== NAV ===== */
nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.92);
  padding: 15px 10px;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 0, 0, 0.2);
}

nav a {
  color: white;
  text-decoration: none;
  background-color: #1c1c1c;
  padding: 10px 16px;
  border-radius: 8px;
  transition: 0.3s;
}

nav a:hover {
  background-color: #a30000;
}

/* ===== HERO ===== */
.hero {
  max-width: 1000px;
  margin: 40px auto;
  border-radius: 20px;
  overflow: hidden;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.75)),
    url("https://cdn.akamai.steamstatic.com/steam/apps/761890/header.jpg");
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  padding: 70px 20px;
}

.hero h2 {
  color: #d4af37;
}

.hero p {
  color: #dddddd;
}

/* ===== TITLE ===== */
.title {
  font-size: 50px;
}

.title span {
  color: red;
}

/* ===== BUTTON ===== */
.join-btn {
  background: red;
  padding: 12px 25px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

/* ===== CARDS ===== */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  width: 220px;
}

.card h3 {
  color: red;
}

/* ===== LIST ===== */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: #111;
  margin: 10px;
  padding: 10px;
}

/* ===== LOOT ===== */
.loot-gallery {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.loot-gallery img {
  width: 220px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.loot-gallery img:hover {
  transform: scale(1.05);
}

/* ===== MODAL (ВАЖНО) ===== */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.95);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal.show-modal {
  display: flex;
}

/* 🔥 */
.modal-content {
  width: 95vw;
  height: 95vh;
  object-fit: contain;
  border-radius: 12px;
}
/* Крестик */
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
